body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}
.logo{
    top: 25px;
    left: 25px;
    position: absolute;
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover{
    background-color: #EECB7B;
    color: #FFFFFF;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/landscape.jpg');
    background-position: bottom;
    background-size: cover;
    height: 750px;
}
.logo-img{
    width: 50px;
}
.column{
    flex-direction: column;

}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #FFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 700px;
}
.banner_headline h2{
    color: #FFF;
    font-size: 25px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 450px;
    margin-top: 30px;
}
.banner_options{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.banner1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 180px;
    background-color: rgba(235, 172, 66, 0.7);
    border-radius: 30px;
    margin-inline: 30px;
    padding: 20px;
    color: white;
}
.banner2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 180px;
    background-color: rgba(241, 150, 105,0.7);
    border-radius: 30px;
    margin-inline: 30px;
    padding: 20px;
    color: white;
}
.banner_title{
    font-size: 20px;
}
.banner_description{
    font-size: 17px;
}
.banner_options a{
    font-size: 17px;
    border: 1.5px solid white;
    text-decoration: none;
    color: white;
    padding: 5px;
    width: max-content;
}

#motivational{
    display: flex;
    justify-content: center;
    height: 1000px;
    background-color: rgb(252, 252, 240);
    padding-top: 50px;
}
.container2{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1500px;
}
.motivational_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motivational_text_container h1{
    color: #000;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 700px;
}
.motivational_text_container h2{
    color: #000;
    font-size: 25px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin-top: 30px;
}
