@media(aspect-ratio: 1/1){
    body{
        background-color: red;
    }
}

@media(min-aspect-ratio: 3/2){
    body{
        background-color: blue;
    }
}

@media(max-aspect-ratio: 1/2){
    body{
        background-color: green;
    }
}
