.container{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: auto auto 100px;
  grid-template-rows: 100px 200px;
  gap: 10px;
}
.item{
  background-color: blue;
  border-radius: 10px;
  padding: 20px;
  color: #FFF;
  font-size: 20px;
}