.container{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: red;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.1s linear;
}
.container:hover{
  width: 500px;
  background: blue
}